.gradle/
build/
out/
run/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode
tmp/

# Written by the dev server through the run/mods/Galysso_obol symlink.
core/src/main/resources/balances.json
core/src/main/resources/balances.json.bak

# Written by the dev server through the run/mods/Galysso_obol-purse symlink.
addons/purse/src/main/resources/purse.json
addons/purse/src/main/resources/purse.json.bak
