.gradle/
build/
out/
run/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode

# Written by the dev server through the run/mods/Galysso_obol symlink.
core/src/main/resources/balances.json
core/src/main/resources/balances.json.bak
